# Farcaster / Neynar
NEYNAR_API_KEY=

# WalletConnect (από https://cloud.walletconnect.com)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

# Base RPC
NEXT_PUBLIC_BASE_SEPOLIA_RPC=https://sepolia.base.org
NEXT_PUBLIC_BASE_MAINNET_RPC=https://mainnet.base.org
